html, body {
    margin: 0px;
    background-color: green;
}


.tituloBJ {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 2rem;
}

.carta{
    position: relative;
    width: 120px;
    left: 100px;
    margin-left: -60px;
}

#jugadorCartas, #AICartas {
    height: 180px;
}